<section class="container">
    <header class="mt-2 mb-5">
        <h1 class="text-secondary">Orders</h1>
    </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Supplier</th>
        <th scope="col">Products</th>
        <th scope="col">Total</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.supplier.name }}</td>
        <td>
            <ul>
                <li *ngFor="let prod of order.products">{{prod.quantity}} {{prod.name}} - {{prod.price | currency}}</li>
            </ul>
        </td>
        <td> {{total(order.products) | currency }}</td>
        <td>{{ order.date | date }}</td>
        <td class="text-center">
          <button
            class="btn btn-outline-warning btn-sm"
            (click)="onEdit(order.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.293 0.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9-3 1 1-3z"
              />
              <path
                fill-rule="evenodd"
                d="M0 11l4-1 7.977-8L11 3l-7 7-1 4zm4.464-1.207L1 14v1h1l8.793-8.793-1.793-1.793L4.464 9.793z"
              />
            </svg>
          </button>
          <button
            class="btn btn-outline-danger btn-sm ms-4"
            (click)="onDelete(order.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
